
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

main .hero img{
    max-height: 80vh;
    width: 70vw;
    margin-top: 10px;
}

main .brand{
    color: #4B4B5B;
}

@media screen and (min-width: 760px){
    main{
        flex-direction: row;
        justify-content: flex-start;
    }
    
    main .hero img{
        height: 80vh;
        display: block;
    }
}