<main>
    <div class="hero">
      <img src="../assets/undraw_pet_adoption_2qkw.svg" alt="imagem hero" />
    </div>
    <div class="brand">
      <h1>Find My Pet</h1>
      <h3 style="font-weight: lighter">Ajude a achar um pet desaparecido.</h3>
      <button
        mat-button
        style="background-color: #ee5e52; color: white; width: 100px"
        (click)="redirectLogin()"
      >
        Entrar
      </button>
      <button mat-button style="width: 100px; margin-left: 10px" (click)="redirectSignUp()">
        Cadastre-se
      </button>
    </div>
</main>
  
