<br>
<form class="k-form" [formGroup]="userForm" style="display: flex; justify-content: center;align-items: center;height: 100vh;">
  <fieldset class="k-form-fieldset">
    <legend class="k-form-legend">Login</legend>

    <kendo-formfield showHints="initial" showErrors="initial">
      <kendo-label
        [for]="email"
        text="E-mail"
      ></kendo-label>
      <input formControlName="email" kendoTextBox #email required/>

      <kendo-formerror>E-mail inválido.</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield showHints="initial" showErrors="initial">
      <kendo-label
        [for]="password"
        text="Senha"
      ></kendo-label>
      <input kendoTextBox type="password" formControlName="password" kendoTextBox #password required/>

      <kendo-formerror>Senha é obrigatória.</kendo-formerror>
    </kendo-formfield>
    <div class="k-form-buttons">
      <button class="k-button k-primary" (click)="submitForm()" [disabled]="!userForm.valid" style="width:100px">
        Entrar
      </button>
      <button class="k-button" (click)="clearForm()" style="width:100px">Limpar</button>
    </div>
  </fieldset>
</form>